.dark-mode ion-content,
.dark-mode .card {
  background-color: #20262d;
}
.dark-mode .item {
  background-color: #3a4046;
  border-color: #333;
  color: #fff;
}
.dark-mode .item.item-divider {
  color: #94979f;
  background-color: #2a3037;
  border-radius: 0;
}
.dark-mode #welcome .item.user-item.selected {
  background: #4d4d4d;
}
.dark-mode .item.taco-item,
.dark-mode .item.leaderboard-list-item {
  border-color: #2d333c !important;
  border-radius: 0;
}
.dark-mode .bar-stable.bar .title,
.dark-mode .item.taco-item .ion-edit:before,
.dark-mode .item.taco-item p,
.dark-mode .taco-count,
.dark-mode .button:before,
.dark-mode .button :before,
.dark-mode .item.item-input .input-label,
.dark-mode h3, .dark-mode h4, .dark-mode h5 {
  color: #9a9a9a;
}
.dark-mode ion-tabs.tabs-bottom .tabs {
  background-color: #1e242a;
  border-color: #000;
  color: #83878b;
}
.dark-mode .bar-stable.bar {
  background-color: #181e25;
  border-bottom: 1px solid #000;
}
.dark-mode .item.item-input input {
  background: transparent;
  color: #fff;
}
.dark-mode .button.button-positive:before,
.dark-mode .button.button-assertive:before {
  color: inherit;
}
